<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Popover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="abrir-popover">Abrir popover</ion-button>

  <ion-popover trigger="abrir-popover" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item button="true">Editar</ion-item>
          <ion-item button="true">Compartir</ion-item>
          <ion-item button="true">Eliminar</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
