<ion-header>
  <ion-toolbar>
    <ion-title>Overlays</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button id="abrir-modal" expand="block" (click)="setModalOpen(true)">Abrir Modal</ion-button>
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setModalOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Mi Modal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>Este es el contenido del modal.</p>
        <ion-button (click)="setModalOpen(false)">Cerrar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button id="abrir-alert" expand="block">Abrir Alert</ion-button>
  <ion-alert
    trigger="abrir-alert"
    header="Confirmación"
    message="¿Deseas continuar?"
    [buttons]="alertButtons">
  </ion-alert>

  <ion-button id="abrir-actionsheet" expand="block">Abrir Action Sheet</ion-button>
  <ion-action-sheet
    trigger="abrir-actionsheet"
    header="Opciones"
    [buttons]="actionSheetButtons">
  </ion-action-sheet>

  <ion-button expand="block" (click)="setToastOpen(true)">Abrir Toast</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Esta es una notificación toast"
    [duration]="2000"
    (didDismiss)="setToastOpen(false)">
  </ion-toast>

  <ion-button expand="block" (click)="setLoadingOpen(true)">Abrir Loading</ion-button>
  <ion-loading [isOpen]="isLoadingOpen" message="Cargando..."></ion-loading>

  <ion-button id="abrir-popover" expand="block" (click)="setPopoverOpen(true)">Abrir Popover</ion-button>
  <ion-popover trigger="abrir-popover" [isOpen]="isPopoverOpen" (didDismiss)="setPopoverOpen(false)">
    <ng-template>
      <ion-content class="ion-padding">Contenido del popover</ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
