<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-radio-group value="mediana">
    <ion-list>
      <ion-item>
        <ion-radio value="pequena">Pequeña</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="mediana">Mediana</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="grande">Grande</ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
</ion-content>
