<ion-header>
  <ion-toolbar>
    <ion-title>Formularios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar placeholder="Buscar..."></ion-searchbar>

  <ion-item>
    <ion-input label="Nombre" placeholder="Escribe tu nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="aceptaTerminos">Acepto los términos</ion-checkbox>
  </ion-item>

  <ion-radio-group [(ngModel)]="genero">
    <ion-item>
      <ion-radio value="masculino">Masculino</ion-radio>
    </ion-item>
    <ion-item>
      <ion-radio value="femenino">Femenino</ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item>
    <ion-toggle [(ngModel)]="notificaciones">Notificaciones</ion-toggle>
  </ion-item>

  <ion-item>
    <ion-select label="Ciudad" [(ngModel)]="ciudad">
      <ion-select-option value="neiva">Neiva</ion-select-option>
      <ion-select-option value="bogota">Bogotá</ion-select-option>
      <ion-select-option value="cali">Cali</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-range [(ngModel)]="volumen" min="0" max="100"></ion-range>
  </ion-item>

  <ion-item>
    <ion-datetime [(ngModel)]="fechaNacimiento" presentation="date"></ion-datetime>
  </ion-item>

</ion-content>
