<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="formularios" href="/tabs/formularios">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Formularios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listas" href="/tabs/listas">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="overlays" href="/tabs/overlays">
      <ion-icon aria-hidden="true" name="layers-outline"></ion-icon>
      <ion-label>Overlays</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="multimedia" href="/tabs/multimedia">
      <ion-icon aria-hidden="true" name="images-outline"></ion-icon>
      <ion-label>Multimedia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
