<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button>Default</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="clear">Clear</ion-button>
  <ion-button shape="round">Round</ion-button>
  <ion-button disabled>Disabled</ion-button>
</ion-content>
