<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>30 Componentes Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">30 Componentes Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item button routerLink="/accordion">Accordion</ion-item>
    <ion-item button routerLink="/action-sheet">Action Sheet</ion-item>
    <ion-item button routerLink="/alert">Alert</ion-item>
    <ion-item button routerLink="/avatar">Avatar</ion-item>
    <ion-item button routerLink="/badge">Badge</ion-item>
    <ion-item button routerLink="/button">Button</ion-item>
    <ion-item button routerLink="/card">Card</ion-item>
    <ion-item button routerLink="/checkbox">Checkbox</ion-item>
    <ion-item button routerLink="/chip">Chip</ion-item>
    <ion-item button routerLink="/datetime">Datetime</ion-item>
    <ion-item button routerLink="/fab">Fab</ion-item>
    <ion-item button routerLink="/grid">Grid</ion-item>
    <ion-item button routerLink="/icon">Icon</ion-item>
    <ion-item button routerLink="/img">Img</ion-item>
    <ion-item button routerLink="/input">Input</ion-item>
    <ion-item button routerLink="/item">Item</ion-item>
    <ion-item button routerLink="/list">List</ion-item>
    <ion-item button routerLink="/menu">Menu</ion-item>
    <ion-item button routerLink="/modal">Modal</ion-item>
    <ion-item button routerLink="/popover">Popover</ion-item>
    <ion-item button routerLink="/progress-bar">Progress Bar</ion-item>
    <ion-item button routerLink="/radio">Radio</ion-item>
    <ion-item button routerLink="/range">Range</ion-item>
    <ion-item button routerLink="/searchbar">Searchbar</ion-item>
    <ion-item button routerLink="/segment">Segment</ion-item>
    <ion-item button routerLink="/select">Select</ion-item>
    <ion-item button routerLink="/spinner">Spinner</ion-item>
    <ion-item button routerLink="/tabs-demo">Tabs</ion-item>
    <ion-item button routerLink="/textarea">Textarea</ion-item>
    <ion-item button routerLink="/toast">Toast</ion-item>
  </ion-list>
</ion-content>
