<ion-header>
  <ion-toolbar>
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-avatar slot="start">
      <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Juan Jose</ion-label>
    <ion-badge slot="end">Nuevo</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Etiquetas</ion-label>
    <ion-chip slot="end">Angular</ion-chip>
    <ion-chip slot="end">Ionic</ion-chip>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion value="primera">
      <ion-item slot="header">
        <ion-label>Sección 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Contenido de la primera sección.
      </div>
    </ion-accordion>
    <ion-accordion value="segunda">
      <ion-item slot="header">
        <ion-label>Sección 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Contenido de la segunda sección.
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="reordenar($event)">
      <ion-item *ngFor="let item of items">
        <ion-label>Elemento {{ item }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="cargarMas($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
