<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-checkbox justify="start">Aceptar términos y condiciones</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox justify="start" checked="true">Recibir notificaciones</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox justify="start" disabled="true">Opción deshabilitada</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
