<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Chip</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-chip>
    <ion-label>Predeterminado</ion-label>
  </ion-chip>
  <ion-chip color="success">
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>Aprobado</ion-label>
  </ion-chip>
  <ion-chip color="danger">
    <ion-label>Eliminar</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip>
  <ion-chip outline="true">
    <ion-label>Contorno</ion-label>
  </ion-chip>
</ion-content>
