<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoría</ion-card-subtitle>
      <ion-card-title>Título de la tarjeta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este es el contenido de una tarjeta de ejemplo hecha con Ionic.
      <ion-button expand="block" fill="clear">Ver más</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
