<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Spinner</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-label>Cargando (bubbles)</ion-label>
  <ion-spinner name="bubbles"></ion-spinner>

  <ion-label>Cargando (circular)</ion-label>
  <ion-spinner name="circular" color="secondary"></ion-spinner>

  <ion-label>Cargando (crescent)</ion-label>
  <ion-spinner name="crescent" color="success"></ion-spinner>
</ion-content>
