<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Item</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-icon name="person-circle" slot="start" color="primary"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="warning"></ion-icon>
      <ion-label>
        <h2>Notificaciones</h2>
        <p>Tienes 3 nuevas</p>
      </ion-label>
    </ion-item>
    <ion-item button="true">
      <ion-icon name="mail" slot="start" color="secondary"></ion-icon>
      <ion-label>Mensajes (clic aquí)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
