<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Segment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment value="dia">
    <ion-segment-button value="dia">
      <ion-label>Día</ion-label>
    </ion-segment-button>
    <ion-segment-button value="semana">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mes">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
